<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link href="{{constant('shopping\\Bootstrap::APP_URL')}}css/shopping5.css"
        rel="stylesheet">
    </head>
    <body>
        <div id="wrapper1" style="background: #990000;"  style="color:white">
            <div style="display:inline-flex">
                <form action="" method="get">
                <strong><span style="color: #FFFFFF;"><font size="5">ふるさとをチョイス</font></span></strong>
                <input type="text" name="search" value="">
                <input type="submit"value="検索">
                {% if not session %} 
                    <a href='{{constant('buy\\Bootstrap::APP_URL')}}buy_login/regist.php'><font color="white">ログイン</font></a>
                    <a href='{{constant('buy\\Bootstrap::APP_URL')}}buy_member/regist.php'><font color="white">会員登録はこちら</font></a>
                {% endif %}
                {% if session %} 
                    <font color="white">こんにちは{{username}}さん</font>
                    <a href='http://localhost/DT/buy/cart.php'><font color="white">カートを見る</font></a>
                    <a href='http://localhost/DT/buy/favorite.php'><font color="white">お気に入り一覧を見る</font></a>
                    <a href='http://localhost/DT/buy/mypage.php'><font color="white">マイページ</font></a>
                    <a href='logout.php'><font color="white">ログアウト</font></a>
                {% endif %}
                {% if admin == "admin" %}
                    <a href='http://localhost/DT/buy_regist/admin.php'><font color="white">商品登録</font></a>
                {% endif %}
                <a href='{{constant('buy\\Bootstrap::APP_URL')}}buy/contact.php'><font color="white">問い合わせはこちら</font></a>
            </div>
        </div>
                </form>
    </body>            
    <!DOCTYPE html>
    <html lang="ja">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="sw/dist/css/swiper.css">
        </head>
        <body>
        <div style="background: #993300;">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                <div class="swiper-slide"><a href="http://localhost/DT/buy/detail.php?item_id=54"><img src="http://localhost/DT/buy/images/takoyaki.jpg"></a></div>
                <div class="swiper-slide"><a href="http://localhost/DT/buy/detail.php?item_id=37"><img src="http://localhost/DT/buy/images/kakinohazushi4.jpg"></a></div>
                <div class="swiper-slide"><a href="http://localhost/DT/buy/detail.php?item_id=26"><img src="http://localhost/DT/buy/images/kurogomayatsuhashi.jpg"></a></div>
                <div class="swiper-slide"><a href="http://localhost/DT/buy/detail.php?item_id=41"><img src="http://localhost/DT/buy/images/narazuke.jpg"></a></div>
                <div class="swiper-slide"><a href="http://localhost/DT/buy/detail.php?item_id=16"><img src="http://localhost/DT/buy/images/retasu.jpg"></a></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div> 
        <script src="sw/dist/js/swiper.js"></script>
        <script src="sw/dist/js/swiper1.js"></script>
            <div id="wrapper">
                <div id="main">
                    <div id="category">
                        {% include 'category_menu.html.twig' %}{#カテゴリーの名前#}
                    </div>
                    <div id="item_list">
                        {% if search_bl == 1 %} 
                            {% for value in arr %}
                            <div class="item">{# 検索した時の表示 #}
                                <ul>
                                    <li class="name"><a href="{{constant('buy\\Bootstrap::ENTRY_URL')}}detail.php?item_id={{value.item_id}}">{{value.item_name}}</a></li>
                                    <li class ="price">&yen;{{value.price|number_format(0, '.', ',')}}</li>
                                    <li class = "image"><a href="{{constant('buy\\Bootstrap::ENTRY_URL')}}detail.php?item_id={{value.item_id}}">
                                    <img src="{{constant('buy\\Bootstrap::ENTRY_URL')}}images/{{value.image}}"alt="{{value.item_name}}"></a></li>
                                    <li class ="detail"><a href="{{constant('buy\\Bootstrap::ENTRY_URL')}}detail.php?item_id={{value.item_id}}">詳細</a></li>
                                    <li class ="review"><a href="{{constant('buy\\Bootstrap::ENTRY_URL')}}board5.php?item_id={{value.item_id}}">口コミ</a></li>
                                </ul>
                            </div>
                            {% endfor %}
                        {% else %}
                            {% if ctg_id | length >0 %}
                                {% for value in dataArr %}
                                    <div class="item">{# 左側のカテゴリーのリンクをクリックした時の表示 #}
                                        <ul>
                                            <li class="name"><a href="{{constant('buy\\Bootstrap::ENTRY_URL')}}detail.php?item_id={{value.item_id}}">{{value.item_name}}</a></li>
                                            <li class ="price">&yen;{{value.price|number_format(0, '.', ',')}}</li>
                                            <li class = "image"><a href="{{constant('buy\\Bootstrap::ENTRY_URL')}}detail.php?item_id={{value.item_id}}">
                                            <img src="{{constant('buy\\Bootstrap::ENTRY_URL')}}images/{{value.image}}"alt="{{value.item_name}}"></a></li>
                                            <li class ="detail"><a href="{{constant('buy\\Bootstrap::ENTRY_URL')}}detail.php?item_id={{value.item_id}}">詳細</a></li>
                                            <li class ="review"><a href="{{constant('buy\\Bootstrap::ENTRY_URL')}}board5.php?item_id={{value.item_id}}">口コミ</a></li>
                                        </ul>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% for value1 in areaDataArr %}
                                    <div class="item">{# 左側のカテゴリーのエリアリンクをクリックした時の表示 #}
                                        <ul>
                                            <li class="name"><a href="{{constant('buy\\Bootstrap::ENTRY_URL')}}detail.php?item_id={{value1.item_id}}">{{value1.item_name}}</a></li>
                                            <li class ="price">&yen;{{value1.price|number_format(0, '.', ',')}}</li>
                                            <li class = "image"><a href="{{constant('buy\\Bootstrap::ENTRY_URL')}}detail.php?item_id={{value1.item_id}}">
                                            <img src="{{constant('buy\\Bootstrap::ENTRY_URL')}}images/{{value1.image}}"alt="{{value1.item_name}}"></a></li>
                                            <li class ="detail"><a href="{{constant('buy\\Bootstrap::ENTRY_URL')}}detail.php?item_id={{value1.item_id}}">詳細</a></li>
                                            <li class ="review"><a href="{{constant('buy\\Bootstrap::ENTRY_URL')}}board5.php?item_id={{value1.item_id}}">口コミ</a></li>
                                        </ul>
                                    </div>
                                {% endfor %} 
                            {% endif %}                    
                        {% endif %}               
                    </div> {# item_list の最後 #}
                </div>{# main の最後　#}
            </div>　{# wrapper の最後 #}
        </body>
    </html>            
</html>